@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "PPMori";
  src: url("../public/fonts/PPMori-Regular.otf");
}
html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
